// Typography
$mulish: 'Mulish', 'sans-serif';
$didot: 'GFS Didot', 'serif';

// Colors
$blue-main: #2A4A4A;
$blue-paragraph: rgb(23, 62, 98);
$blue-light: #5a7b7b;

$blue-black: #24323D;

$orange-main: #ff8749;
$orange-dark: #AC8D68;
$orange-light: #ffe7d3;

$yellow-light: #F7F2EE;
$yellow-dark: #b86602;
$yellow-medium: #b7a99a;
$yellow-main: #BDA588;
$yellow-star: #E4A853;

$black-extra-light: rgba(211, 211, 211, 0.4);
$black-light: rgb(102, 113, 122);
$black-mild: rgba(0, 0, 0, 0.95);
$black-mild-less: #343A40;

$white-lightest: rgba(255, 255, 255, 0.5);
$white-light: rgba(255, 255, 255, 0.7);
$white-medium: #F8F6F3;
